<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
</head>
<body>
<form action="" method="POST">
    <p>Doctor Information</p>
   name: <input type="text"   name="name" value=""><br><br>
    designation:<input type="text" name="designation" value=""><br><br>
    degree:<input type="text" name="degree" value=""><br><br>
    years_of_experience:<input type="number" name="years_of_experience" value=""><br><br>
    hospital_name:<input type="text" name="hospital_name" value=""><br><br>
    <input type="submit" name="'submit" value="submit">
</form>

</body>
</html>