<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Doctor</title>
</head>
<body>
<form action="" method="POST">
    <p>Update Doctor</p>
    name: <input type="text"   name="name" value="{{ doctor.name }}"><br><br>
    designation:<input type="text" name="designation" value="{{ doctor.designation }}"><br><br>
    degree:<input type="text" name="degree" value="{{ doctor.degree }}"><br><br>
    years_of_experience:<input type="number" name="years_of_experience" value="{{ doctor.years_of_experience }}"><br><br>
    hospital_name:<input type="text" name="hospital_name" value="{{ doctor.hospital_name }}"><br><br>
    <input type="submit" name="'submit" value="submit">
</form>

</body>
</html>