<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_Hospital</title>
</head>
<body>
<form action="" method="POST">
    <p>Hospital Registration</p>
   name: <input type="text"   name="name" value=""><br><br>
    address:<textarea name="address" value="address"></textarea><br><br>
    description:<input type="text" name="description" value=""><br><br>
    no_of_doctors:<input type="number" name="no_of_doctors" value=""><br><br>
    no_of_beds:<input type="number" name="no_of_beds" value=""><br><br>
    <input type="submit" name="'submit" value="register">
</form>
</body>
</html>
